# Somente altere o IP se estiver usando um servidor com várias interfaces de rede, caso contrário, altere apenas a 
endpoint_add_tcp "0.0.0.0:30120" 
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog
ensure "playernames"
ensure "money-fountain-example-map"
ensure "fivem-map-skater"
ensure "ped-money-drops"
ensure "example-loadscreen"
ensure "fivem"
ensure "player-data"
ensure "chat-theme-gtao"

# Isso permite que os jogadores usem plug-ins baseados em scripthook, como o Menu Lambda herdado.
# Defina isso como 1 para permitir scripthook. Observe que isso _não_ garante que os jogadores não poderão usar plugins externos.
sv_scriptHookAllowed 0

# Descomente isso e defina uma senha para ativar o RCON. Certifique-se de alterar a senha - deve se parecer com 
rcon_password "12345678"

# Uma lista separada por vírgulas de tags para seu servidor.
# Por exemplo:
# - define tags "drifting, cars, racing"
# Ou:
# - define tags "roleplay, militar, tanques"
sets tags "roleplay,luis-das-artimanhas"
sets locale "pt-BR"

# Defina uma informação opcional do servidor e conecte o URL da imagem do banner.
# O tamanho não importa, qualquer imagem em tamanho de banner servirá.
sets banner_detail "https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/PINGOBRAS.png?v=1650116906906"
sets banner_connecting "https://media.tenor.com/dKj-01-GggoAAAAM/network-connecting.gif"

# Defina o nome do host do seu servidor. Isso geralmente não é mostrado em nenhum lugar nas listagens.
sv_hostname "Pingobras Server"

# Defina o nome do projeto do seu servidor
sets sv_projectName "Plutão RP"

# Defina a descrição do projeto do seu servidor
sets sv_projectDesc "Um servidor de Roleplay com varios recursos. IP:83raab "

# Configurações aninhadas!
#exec server_internal.cfg

# Carregando um ícone de servidor (arquivo PNG 96x96)
load_server_icon "https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/PINGOBRAS.png?v=1650116906906"

# convars que podem ser usados ​​em scripts
set temp_convar "hey world!"

# Verifique o seguinte url para obter informações mais detalhadas sobre isso:
# https://docs.fivem.net/docs/server-manual/server-commands/#sv_master1-newvalue

# Adicionar administradores do sistema
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# habilite o OneSync (necessário para reconhecimento de estado do lado do servidor)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 30

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
# set steam_webApiKey "licenseKeyGoesHere"

# Chave de licença do seu servidor (https://keymaster.fivem.net)
sv_licenseKey "cfxk_dbf2ZUjE9ANJTefPpctQ_1B3bQh"